.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--shiningWhite);
    box-shadow: var(--box-shadow);
    //z-index: 100;
    
    &.stickyNav{
        //box-shadow: var(--box-shadow);
        position: sticky;
        top: 0;
        z-index: 100;
    }
    

    .left {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-around;
        

        .brandContainer {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            .brandLogo {
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: var(--green);
                padding: 10px;
                margin-right: 10px;

                .logoIcon{
                    margin-right: 20px;
                    font-size: 50px;
                }

                li{
                    .menuIcon {
                        //background-color: red;
                        display: none;
                    }
                }
                

                h1 {
                    font-size: 25px;
                    font-weight: bolder;
                    color: var(--black);
                    cursor: pointer;
                }

                
            }

            
        }

        .searchContainer {
            width: 400px;
            height: 40px;
            border: var(--border);
            overflow: hidden;
            background-color: #fff;
            display: flex;
            align-items: center;
            border-radius: 5px;

            input {
                font-size: 16px;
                padding: 0 12px;
                height: 100%;
                width: 100%;
                text-transform: none;
                color: var(--black);

                &::placeholder {
                    font-size: 14px;
                }
            }

            .searchIcon {
                font-size: 45px;
                padding: 10px;
                cursor: pointer;

                &:hover {
                    transition: all 0.3s ease;
                    transform: scale(1.2);
                    color: var(--green);
                }
            }
        }


    }

    .right {
        flex: 1;

        .navbar {
            display: flex;
            align-items: center;
            justify-content: space-around;



            .list {
                flex: 2;
                display: flex;
                align-items: center;
                justify-content: space-around;
                font-size: 16px;
                font-weight: 500;
                color: var(--black);

                li{
                    padding: 2px 12px;
                    border: 1px solid #09C3DB;
                    cursor: pointer;
                    border-radius: 3px;
                    border-style: none;
                    text-transform: capitalize;

                    &:hover {
                        border-bottom: 1px solid #09C3DB;
                    }
                }

                .dropIcon{
                    //background-color: red;
                    margin-bottom: -8px;
                }

            }

            .icons {
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                .icon {
                    //background-color: red;
                    font-size: 25px;
                    margin: 0px 10px;
                    cursor: pointer;
                    margin-top: 5px;
                    

                    &.search{
                        display: none;
                    }

                    &.favorite {
                        color: red;
                    }

                    &.cart {
                        color: rgb(10, 207, 197);

                    }

                    &.user {
                        color: var(--green);
                        margin-bottom: 5px;
                        cursor: pointer;
                        display: flex;
                        &.active{
                            display: flex;
                        }
                    }

                    
                }


                .counter{
                    width: 20px;
                    height: 20px;
                    border: var(--border);
                    background-color: red;
                    border-radius: 50%;
                    color: var(--shiningWhite);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 10px;
                    font-weight: 500;
                    position: absolute;
                    top: 14px;
                    right: 140px;
                    overflow: hidden;
                }

                .dropDown{
                    position: relative;
                    cursor: pointer;
                }

                

                .avater{
                    width: 30px;
                    height: 30px;
                    margin-top: -6px;
                    margin-left: 10px;
                    border-radius: 50%;
                    border: var(--border-hover);
                    cursor: pointer;
                    display: None;
                    &.active{
                        display: none;
                    }
                }


            }
        }

    }

}


@media screen and (max-width: 500px) {
    .header{
        
        
        .left{
            .brandContainer{
                .brandLogo{
                    h1{
                        font-size: 20px;
                    }
                    .logoIcon{
                        font-size: 40px;
                        display: none;
                    }
                    li{
                        .menuIcon{
                            display: flex;
                            font-size: 25px;
                            margin-right: 50px;
                            color: var(--green);
                        }
                    }
                    
                    
                }
                .brandName{
                    margin-left: 20px;
                    font-size: 20px;
                }
            }
            .searchContainer{
                width: 300px;
                height: 45px;
                position: fixed;
                left: 50%;
                transform: translateX(-50%);
                top: -115%;
                right: 15%;
                
                &.active{
                    top: 8.5%;
                    box-shadow: var(--box-shadow2);
                    z-index: 10;
                }
                input{
                }
                .searchIcon{
                    display: none;
                }
            }

        }

        .right{
            .navbar{
                .list{
                    display: none;
                }
                .icons{
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    .icon{

                        &.cart{
                            margin-right: 20px;
                            font-size: 25px;
                        }

                        &.favorite {
                            display: none;
                        }

                        &.user{
                            display: none;
                            
                        }

                        &.search{
                            font-size: 25px;
                            margin-top: 1px;
                            display: flex;
                        }
                    }

                    .counter{
                        font-size: 10px;
                        top: 5px;
                        right: 12px;
                    }
                    .dropDown{
                        .dropdownContent{
                            min-width: 50px;
                            top: 28px;
                            left: -28px;
                            ul{
                           
                                li{
                                    padding: 4px 25px;
                                    span{
                                        color: var(--shiningWhite);
                                        padding-top:5px;
                                        text-decoration: none;
                                        text-transform: capitalize;
                                        font-size: 10px;
                                    }
                                }
                            }
                        
                        }
                    }
                }
            }
        }
        
    }


}