.main{
    background: url(../assets/banner-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    .sliderContainer {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 50px;
            
    
            .sliderContent {
                padding: 30px;
                margin: 30px;
                h3{
                    color: var(--black);
                    font-size: 45px;
                }
                p{
                    color: var(--nevyblue);
                    font-size: 14px;
                    line-height: 2;
                    padding: 10px 0px;
                    margin-bottom: 30px;
                }
                
            }
    
            .swipers {
                
                width: 50%;
                
                
                .mySwiper {
                    width: 80%;

                    .swiper-wrapper {
                        .swiper-slide{
                            width: 100%;
                            img{
                                height: 250px;
                                &:hover{
                                    -ms-transform: scale(.9);
                                    -webkit-transform: scale(.9);  
                                    transform: scale(.9);
                                    
                                }
                            }
                        }
                    }
                }

                .stand{
                    width: 80%;
                    margin: auto;
                    margin-top: -20px;
                    display: block;
                    
                }
            }
        }
}



/*============================== MEDIA QUERIES (MEDIUM DIVICES) =================================*/

@media screen and (max-width: 900px) {
    
}

/*============================== MEDIA QUERIES (SMALL DIVICES) =================================*/



@media screen and (max-width: 500px) {
    .main{
        .sliderContainer{
            display: flex;
            flex-direction: column;
            .sliderContent{
                padding: 0px;
                margin: 0px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                margin-bottom: 20px;

                h3{
                    font-size: 35px;
                    text-align: center;
                    margin-bottom: 10px;
                }
                p{
                    text-align: justify;
                }

                .btn{
                    font-size: 14px;                  
                }
            }
        

            .swipers {
                width: 100%;
                .mySwiper {
                    width: 100%;
                    .swiper-wrapper {
                        .swiper-slide{
                            
                            img{
                                margin: auto;
                                display: block;
                                margin-bottom: 5px;
                                height: 200px;
                            }
                        }
                    }
                }

                .stand{
                    width: 100%;                    
                }
            }
        }
    }
    
    



}







