@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    transition: all .2s linear;
}

:root{
    --green: #27ae60;
    --red:#e06363;
    --white:#e0e0e0;
    --shiningWhite:#ffffff;
    --navyblue:#042130;
    --skyblue:#09C3DB;
    --lightgray:#f5f5f5;
    --dark-color:#219150;
    --black:#030201;
    --light-color:#66666636;
    --button-color:#08ada5e0;
    --border: 1px solid rgba(0,0,0,.1);
    --border-hover:1px solid #09C3DB;
    --box-shadow:1px 2px #09C3DB;
    --box-shadow2: 1px 2px #c5c5c5;
    --box-shadow3: 0px 3px #525252ab;
}

html{
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--black);
}


.btn {
    padding: 10px 30px;
    border-radius: 5px;
    text-transform: capitalize;
    color: #fff;
    background-color: var(--green);
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;

    &:hover {
        background: var(--button-color);
        color: var(--black);
    }

}